#container {
  display: flex;
  flex-direction: column;
}
#src-text {
  width: 400px;
  padding: 20px;
  border: 1px solid black;
  font-size: 17px;
}
#glossary-words {
  padding: 15px;
  font-size: 19px;
}
#words-input {
  width: 290px;
  font-size: 16px;
}
#highlight-button {
  margin-left: 10px;
  width: 200px;
  font-size: 16px;
}
.cc-glossary-word {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

.cc-glossary-word:hover {
  cursor: pointer;
}